.conftimetable{
	float:left;
	width:100%;
	padding:80px 0 50px 0;
}

.conftimetable h2{
	text-align:center;
	font-size:30px;
	/* color:#333; */
	/* font-weight:normal; */
	/* margin:0 0 20px 0; */
	/* padding:0 0 0 0; */
}

.conftimetable h4{
	text-align:center;
	font-family: 'open_sanslight';
	font-size:11px;
	color:#909090;
	font-weight:normal;
	text-transform:uppercase;
	margin:0 0 60px 0;
	padding:0 0 30px 0;
	background:url(images/border.png) no-repeat center bottom;
}

.conftimetable .faqbox{
	overflow:hidden;
	background:#f9f9f9;
	border:1px solid #909090;
	transition:0.5s; -webkit-transition:0.5s;
	border-radius:7px; -webkit-border-radius:7px;
	padding-left:0px;
	padding-right:0px;
	width:28%;
	float:left;
	margin:0 2.5% 30px 2.5%;
}

.conftimetable .faqbox.longer{
	float:right;
	width:61%;
	margin:0 3.3% 30px 2.3%;
}

.conftimetable .faqbox .title{
	text-align:left;
	font-weight:bold;
	font-family: 'open_sanslight';
	font-size:14px;
	color:#000;
	padding:17px 0 17px 60px;
	margin:0 0 0 0;
	background:#fff url(images/icons/i6.png) no-repeat 25px center;
	border-bottom:1px solid #e7e7e7;
}

.conftimetable .faqbox p{
	text-align:left;
	font-family: 'open_sanslight';
	font-size:14px;
	color:#5f5f5f;
	line-height:24px;
	margin:25px;
	overflow: hidden;
}